In [39]:
!python3 -m venv env
!source env/bin/activate
!python3 -m pip install pandas numpy openpyxl

Requirement already satisfied: pandas in /usr/local/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/site-packages (1.23.5)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/site-packages (3.0.10)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/vav/Library/Python/3.10/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python3.10 -m pip install --upgrade pip

In [40]:
import pandas as pd
import numpy as np

In [41]:
cities = {'Russia' : ['Moscow', 'Ekaterinburg', 'St.Petersburg'],
          'USA' : ['New York', 'Boston', 'Chicago', 'San Francisco'],
          'Portugal' : ['Lisbon', 'Porto', 'Braga'],
          'Germany' : ['Berlin', 'Hamburg', 'Munich', 'Frankfurt'],
          'France' : ['Paris', 'Marseille', 'Lyon'],
          'Spain' : ['Barcelona', 'Madrid', 'Vigo'],
          'Italy' : ['Rome']}


streets = {'Russia' : ['Lenin Street', '1905 Street', 'Mira Avenue', 'Svobody Street'],
           'USA' : ['Martin Luther King Drive', 'Ross Clark Circle', 'Wall Street', 'Washington Street'],
           'Portugal' : ['Avenida da Liberdade', 'Rua Augusta', 'Rua Cor de Rosa', 'Rua da Bica'],
           'Germany' : ['Bernauer Straße', 'Ebertstraße', 'Chausseestraße', 'Kurfürstendamm'],
           'France' : ['Rue des Barres', 'Rue des Rosiers', 'Rue Chanoinesse', 'Rue Cremieux'],
           'Spain' : ['Calle Huertas', 'Calle Mayor', 'Calle de Preciados', 'Paseo del Prado'],
           'Italy' : ["Campo de' Fiori", "Via della Conciliazione", "Via del Corso", "Via Margutta"]}

zipcodes = {'Moscow' : '125130',
            'Ekaterinburg' : '239032',
            'St.Petersburg': '635342',
            'New York' : '35004',
            'Boston' : '37806',
            'Chicago' : '56004',
            'San Francisco' : '14824',
            'Lisbon' : '145-616',
            'Porto' : '432-516',
            'Braga' : '421-361',
            'Berlin' : '76234',
            'Hamburg' : '25138',
            'Munich' : '27391',
            'Frankfurt' : '56234',
            'Paris' : '57234',
            'Marseille' : '32983',
            'Lyon' : '93274',
            'Barcelona' : '01004',
            'Madrid' : '06923',
            'Vigo' : '33724',
            'Rome' : '98168'
           }

m_names = ['Andrew', 'Vladislav', 'Pedro', 'Jhonny', 
           'David', 'Ricardo', 'Cristiano', 'Jack', 
           'Robert', 'Martin', 'Diego', 'Daniel',
           'Liam', 'Oliver', 'James', 'William']

f_names = ['Ttyana', 'Maria', 'Patricia', 'Ines', 
           'Marianna', 'Anna', 'Julia', 'Helen', 
           'Barbara', 'Babette', 'Jane', 'Olivia',
           'Emma', 'Charlotte', 'Sophia']

l_names = ['Castro', 'Abramov', 'Zurabov', 'Pereira', 'Silva', 
           'Santos', 'Oliveira', 'Motta', 'Smith', 'Williams', 
           'Brown', 'Lavigne', 'Monet', 'Blanchet', 
           'Müller', 'Schneider', 'Schmidt']

categories = {1 : 'Phones',
              2 : 'Wearables',
              3 : 'Home & Care',
              4 : 'Computers',
              5 : 'Tablets',
              6 : 'Audio',
              7 : 'Acessories'}
              
products_file = 'data/products.xlsx'

In [42]:
def clients_data_generation():
    def login_generator(name, last_name, year):
        include_year = np.random.choice([True, False])
        cut_year = np.random.choice([True, False])
        num_of_letters = np.random.randint(2, 6)
        login = name[:num_of_letters-1] + last_name[:num_of_letters]
        if include_year:
            if cut_year:
                login += year[2:]
            else:
                login += year
        return login.lower()

    def email_generator(name, last_name, year):
        nickname = login_generator(name, last_name, str(year)) + '@examplemail.lol'
        return nickname

    my_m_names = np.random.choice(m_names, 1000)
    my_ml_names = np.random.choice(l_names, 1000)

    my_f_names = np.random.choice(f_names, 1000)
    my_fl_names = np.random.choice(l_names, 1000)

    male_df = pd.DataFrame(data = {'First_Name' : my_m_names, 
                                   'Last_Name' : my_ml_names, 
                                   'Sex' : 'M'}).drop_duplicates()
    
    female_df = pd.DataFrame(data = {'First_Name' : my_f_names, 
                                     'Last_Name' : my_fl_names, 
                                     'Sex' : 'F'}).drop_duplicates()
    clients = pd.concat([male_df, female_df])

    clients['Birth_year'] = np.random.randint(1941, 2015, len(clients))
    clients['Phone_number'] = np.random.randint(3*10e+9, 10e+10, len(clients))
    clients['email'] = clients.apply(lambda x: email_generator(x['First_Name'], 
                                                               x['Last_Name'],
                                                               x['Birth_year']), axis = 1)
    clients = clients.sample(frac = 1).reset_index(drop = True)
    clients['ID'] = np.arange(1, len(clients)+1)
    clients = clients[['ID', 'First_Name', 'Last_Name', 'Sex', 'Birth_year', 'Phone_number', 'email']]
    return clients

def address_data_generation(clients):
    def give_addr_2_all_customers(clients):
        countries = np.random.choice(list(cities.keys()), len(clients))
        cur_cities, cur_streets, cur_zipcodes = list(), list(), list()

        for country in countries:
            cur_cities.append(np.random.choice(cities[country]))
            cur_streets.append(np.random.choice(streets[country]))

        for city in cur_cities:
            cur_zipcodes.append(zipcodes[city])

        df = pd.DataFrame(data = {'Country' : countries,
                                  'City' : cur_cities,
                                  'Street' : cur_streets,
                                  'PostCode' : cur_zipcodes,
                                  'CUSTOMER_ID' : clients['ID']})
        return df
    df = give_addr_2_all_customers(clients)
    some_dublicates_df = give_addr_2_all_customers(clients.sample(frac=0.3))
    df = pd.concat([df, some_dublicates_df]).reset_index(drop=True)
    df['Building'] = np.random.randint(1, 200, len(df))
    df['Appartment_tmp'] = np.random.randint(1, 1000, len(df))
    df['Appartment_presence'] = np.random.choice([1,None], p=[0.8, 0.2], size=len(df))
    df['Appartment'] = df['Appartment_tmp'] * df['Appartment_presence']
    df = df.sample(frac=1).reset_index(drop=True)
    df['ID'] = np.arange(1, len(df)+1)
    df = df[['ID', 'Country', 'City', 'Street', 'Building', 'Appartment', 'PostCode', 'CUSTOMER_ID']]
    return df

def products_data_generation(products_file):
    df = pd.read_excel(products_file)
    df = df.drop(columns = ['VAT_ID'])
    return df

In [43]:
clients = clients_data_generation()
addresses = address_data_generation(clients)
products = products_data_generation(products_file)

In [44]:
from datetime import date, timedelta

sdate = date(2020,1,22)   
edate = date(2022,11,22)

dates = pd.date_range(sdate,edate-timedelta(days=1),freq='d').astype(str).to_list()
sample_clients =  np.random.choice(clients['ID'], size=100)

client_dates, client_ids = list(), list()
for client in sample_clients:
    n_orders = np.random.choice([1,2,3,4], p=[0.5, 0.3, 0.1, 0.1])
    curr_dates = list(np.random.choice(dates, n_orders))
    client_dates += curr_dates
    client_ids += [client for _ in curr_dates]

res = pd.DataFrame(data = {'Date' : client_dates, 'CLIENT_ID' : client_ids})
res['Deadline'] = pd.to_datetime(res['Date']) + pd.DateOffset(days=3)
res.sort_values(by = ['Date'], inplace = True)
res['ID'] = np.arange(1, len(res)+1)
res = res[['ID', 'Date', 'Deadline', 'CLIENT_ID']]
res

      ID        Date   Deadline  CLIENT_ID
74     1  2020-01-23 2020-01-26          9
142    2  2020-02-04 2020-02-07         81
108    3  2020-02-04 2020-02-07        422
157    4  2020-02-09 2020-02-12        317
36     5  2020-02-09 2020-02-12         37
..   ...         ...        ...        ...
8    179  2022-10-19 2022-10-22        379
153  180  2022-10-22 2022-10-25        268
64   181  2022-10-23 2022-10-26        402
84   182  2022-11-07 2022-11-10        343
78   183  2022-11-12 2022-11-15        204

[183 rows x 4 columns]

In [45]:
products

,ID,SKU_NAME,PRICE,STOCK,CATEGORY_ID,DESCRIPTION
0,1,iPhone 14 PRO,1479.00,13,1,"256GB - Purple - 6,1' - IOS 16"
1,2,iPhone 14,799.00,22,1,"128GB - Black - 6,1' - IOS 16"
2,3,iPhone 14,899.00,23,1,"256GB - Black - 6,1' - IOS 16"
3,4,iPhone 13,699.00,45,1,"256GB - Purple - 6,1' - IOS 16"
4,5,iPhone 13,699.00,12,1,"256GB - Black - 6,1' - IOS 16"
5,6,iPhone 14 Plus,999.00,17,1,"256GB - Black - 6,7' - IOS 17"
6,7,iPhone 14 Plus,899.00,13,1,"128GB - Dark Green - 6,7' - IOS 17"
7,8,iPhone 14 Plus,999.00,15,1,"256GB - Dark Green - 6,7' - IOS 17"
8,9,iPhone 14 PRO max,1629.00,12,1,"512GB - Midnight - 6,7' - IOS 16"
9,10,Samsung Galaxy S22 ULTRA,949.00,11,1,256GB - Black - 6.8' - 12GB
10,11,Samsung Galaxy Z Fold 4,1599.00,16,1,256GB - Black - 7.6' - 12GB
11,12,Xiaomi 12T PRO,789.00,6,1,500GB - Blue - 6.7' - 12GB
12,13,Nokia 3310,59.99,4,2,16GB - Blue - 2.4' - Card slot
13,14,SonyEricsson K800,94.99,0,2,Model of 2008
14,15,SonyEricsson W200i,89.99,0,2,Model 2005
15,16,Samsung Galaxy Watch 4,159.99,17,3,40mm BT - Gold - autonomy 40h - Exynos W920 -w...
16,17,Xiaomi Mi Band 7,39.99,6,3,"Amoled - 1,62' - autonomy 14days- water resistant"
17,18,Apple watch 8th Gen,599.00,8,3,42mm - Space Gray - GPS
18,19,Apple watch ULTRA,1199.00,0,3,NaN
19,20,Apple watch SE,309.99,8,3,40mm - autonomy 18h - water resistent
20,21,Xiaomi mi body composition 2,29.99,20,4,max weight 100kg - max 16 users
21,22,Braun Series 5 5031s Electric shaver,79.99,4,5,Number of attachments 3 - autonomy 50m - water...
22,23,Dyson supersonic hair dryer,429.99,3,6,16000W - Number of attachments 6 - Vinca blue/...
23,24,BaByliss PRO Titanium Straightener,119.99,7,6,Heat protectiv shield
24,25,MacBook Air,949.00,10,7,13.3' - Intel i5 - RAM 8GB - 256GB SSD - Rose...
25,26,MacBook Air,949.00,13,7,13.3' - Intel i5 - RAM 8GB - 256GB SSD - Spac...
26,27,MacBook Pro,1149.00,5,7,13.3' - M2 - RAM 8GB - 256GB SSD - Space Gray
27,28,MacBook Pro,1599.00,0,7,14 ' - M2 - RAM 16GB - 512GB SSD - Space Gray
28,29,MacBook Pro,2099.00,20,7,14' - M1 pro chip - RAM 16GB - 1TB SSD - Rose ...
29,30,Lenovo ideapad 3i,499.99,18,7,15.6' - Intel core i3 - RAM 8GB . 256GB SSD - ...
30,31,ASUS TUF Gaming,599.00,20,7,15.6' - NVIDIA GeForce RTX 3050 - RAM 8GB - 51...
31,32,HP Pavilion Touch screen All-in-one,1069.99,10,8,24' - Intel core i5 - RAM 12GB - 1TB SSD - Spa...
32,33,iMac,1799.00,3,8,27' - 5K display - Intel core i5 -RAM 8GB - 25...
33,34,Samsung A700 series monitor,269.99,18,9,32' - Led 4K UHD - Black
34,35,LG Ultrafine monitor,596.99,13,9,43' - 4K UHD - Black
35,36,Samsung M7 series monitor,379.99,5,9,43' - Smart Tizen . 4K UHD - White
36,37,iPad Air 5th Generation,749.99,11,10,10.9' - M1 - RAM 8GB - 256GB - Battery Life 10...
37,38,iPad Pro (Latest Model),799.00,5,10,11' - M2 - RAM 8GB - 128GB - Battery Life 10h ...
38,39,Samsung Galaxy Tab s6 Lite,269.99,4,10,10.4' - Qualcomm Snapdragon 720G (SM7125) - RA...
39,40,Samsung Galay Tab s8 Ultra,1099.99,15,10,14.4' - Qualcomm Snapdragon 8Gen 1 (SM8450) - ...
40,41,Lenovo Yoga Tab 11,349.99,7,10,11' - MediaTek G90T - RAM 8GB - 256GB - Storm...
41,42,Airpods Pro 2nd Gen,399.00,4,11,wireless - Noise cancelling - Battery Life 8h ...
42,43,AirPods 2nd generation,199.99,11,11,wireless - Noise cancelling - Battery Life 6h ...
43,44,JBLTune 230NC,99.99,17,11,wireless - Noise cancelling - Battery Life 8h ...
44,45,Sony Extra bass in-ear Headphones,29.99,20,11,wired - black
45,46,Samsung HW-B650/ZA soundbar,209.99,5,12,3.1' - Dolby 5.1 - Black
46,47,Sonos Beam (Gen 2),359.99,14,12,High resolution audio
47,48,Apple HomePod,499.00,4,12,Apple Home Assistant
48,49,Yandex Alice Station,299.00,18,12,Yandex Home Assistant
49,50,Apple Pencil Gen 1,99.00,12,13,NaN
50,51,Apple Pencil Gen 2,169.00,14,13,NaN
51,52,Smart Folio Cover for iPad Pro,199.99,2,13,Apple Oroginal leather cover for iPad Pro 11.1...
52,53,Apple Magic Keyboard,299.00,5,13,wireless keyboard (ENG)
53,54,Apple Magic Mouse,149.00,8,13,NaN
54,55,Apple Magic Trackpad,149.00,3,13,NaN

In [46]:
addresses

,ID,Country,City,Street,Building,Appartment,PostCode,CUSTMER_ID
0,1,France,Lyon,Rue Cremieux,188,262,93274,40
1,2,Spain,Madrid,Calle Huertas,67,419,06923,141
2,3,Italy,Rome,Campo de' Fiori,44,919,98168,488
3,4,Russia,Ekaterinburg,Mira Avenue,59,186,239032,119
4,5,USA,San Francisco,Wall Street,114,9,14824,10
...,...,...,...,...,...,...,...,...
663,664,Russia,Ekaterinburg,Lenin Street,101,173,239032,333
664,665,Spain,Vigo,Calle de Preciados,104,322,33724,416
665,666,France,Marseille,Rue des Rosiers,59,460,32983,72
666,667,Spain,Vigo,Calle de Preciados,186,815,33724,233
667,668,Russia,St.Petersburg,Lenin Street,43,724,635342,207

In [47]:
clients

,ID,First_Name,Last_Name,Sex,Birth_year,Phone_number,email
0,1,Pedro,Blanchet,M,1968,77713067190,pedblan@examplemail.lol
1,2,Barbara,Brown,F,1958,94430519670,bbr1958@examplemail.lol
2,3,Oliver,Zurabov,M,1947,94619737384,olzur47@examplemail.lol
3,4,Barbara,Schmidt,F,1975,95714397493,bsc1975@examplemail.lol
4,5,Patricia,Motta,F,1984,87952430313,patmott@examplemail.lol
...,...,...,...,...,...,...,...
509,510,Jhonny,Zurabov,M,1967,94832175678,jzu@examplemail.lol
510,511,Liam,Smith,M,1988,98891260206,lsm88@examplemail.lol
511,512,Maria,Pereira,F,1946,35136859069,maper@examplemail.lol
512,513,Marianna,Williams,F,1987,56748874299,mwi@examplemail.lol
513,514,Helen,Abramov,F,1985,76293307076,heleabram@examplemail.lol