In [5]:
!python3 -m venv env
!source env/bin/activate
!python3 -m pip install pandas numpy

Collecting pandas
  Downloading pandas-1.5.2-cp310-cp310-macosx_10_9_x86_64.whl (12.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 33.7 MB/s eta 0:00:0000:0100:01
Collecting numpy
  Downloading numpy-1.23.5-cp310-cp310-macosx_10_9_x86_64.whl (18.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.1/18.1 MB 41.6 MB/s eta 0:00:0000:0100:01
Collecting pytz>=2020.1
  Downloading pytz-2022.6-py2.py3-none-any.whl (498 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 498.1/498.1 kB 15.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/vav/Library/Python/3.10/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.23.5 pandas-1.5.2 pytz-2022.6

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python3.10 -m pip install --upgrade pip

In [6]:
import pandas as pd
import numpy as np

In [9]:
cities = {'Russia' : ['Moscow', 'Ekaterinburg', 'St.Petersburg'],
          'USA' : ['New York', 'Boston', 'Chicago', 'San Francisco'],
          'Portugal' : ['Lisbon', 'Porto', 'Braga'],
          'Germany' : ['Berlin', 'Hamburg', 'Munich', 'Frankfurt'],
          'France' : ['Paris', 'Marseille', 'Lyon'],
          'Spain' : ['Barcelona', 'Madrid', 'Vigo'],
          'Italy' : ['Rome']}


streets = {'Russia' : ['Lenin Street', '1905 Street', 'Mira Avenue', 'Svobody Street'],
           'USA' : ['Martin Luther King Drive', 'Ross Clark Circle', 'Wall Street', 'Washington Street'],
           'Portugal' : ['Avenida da Liberdade', 'Rua Augusta', 'Rua Cor de Rosa', 'Rua da Bica'],
           'Germany' : ['Bernauer Straße', 'Ebertstraße', 'Chausseestraße', 'Kurfürstendamm'],
           'France' : ['Rue des Barres', 'Rue des Rosiers', 'Rue Chanoinesse', 'Rue Cremieux'],
           'Spain' : ['Calle Huertas', 'Calle Mayor', 'Calle de Preciados', 'Paseo del Prado'],
           'Italy' : ["Campo de' Fiori", "Via della Conciliazione", "Via del Corso", "Via Margutta"]}

zipcodes = {'Moscow' : '125130',
            'Ekaterinburg' : '239032',
            'St.Petersburg': '635342',
            'New York' : '35004',
            'Boston' : '37806',
            'Chicago' : '56004',
            'San Francisco' : '14824',
            'Lisbon' : '145-616',
            'Porto' : '432-516',
            'Braga' : '421-361',
            'Berlin' : '76234',
            'Hamburg' : '25138',
            'Munich' : '27391',
            'Frankfurt' : '56234',
            'Paris' : '57234',
            'Marseille' : '32983',
            'Lyon' : '93274',
            'Barcelona' : '01004',
            'Madrid' : '06923',
            'Vigo' : '33724',
            'Rome' : '98168'
           }

m_names = ['Andrew', 'Vladislav', 'Pedro', 'Jhonny', 
           'David', 'Ricardo', 'Cristiano', 'Jack', 
           'Robert', 'Martin', 'Diego', 'Daniel',
           'Liam', 'Oliver', 'James', 'William']

f_names = ['Ttyana', 'Maria', 'Patricia', 'Ines', 
           'Marianna', 'Anna', 'Julia', 'Helen', 
           'Barbara', 'Babette', 'Jane', 'Olivia',
           'Emma', 'Charlotte', 'Sophia']

l_names = ['Castro', 'Abramov', 'Zurabov', 'Pereira', 'Silva', 
           'Santos', 'Oliveira', 'Motta', 'Smith', 'Williams', 
           'Brown', 'Lavigne', 'Monet', 'Blanchet', 
           'Müller', 'Schneider', 'Schmidt']



def clients_data_generation():
    def login_generator(name, last_name, year):
        include_year = np.random.choice([True, False])
        cut_year = np.random.choice([True, False])
        num_of_letters = np.random.randint(2, 6)
        login = name[:num_of_letters-1] + last_name[:num_of_letters]
        if include_year:
            if cut_year:
                login += year[2:]
            else:
                login += year
        return login.lower()

    def email_generator(name, last_name, year):
        nickname = login_generator(name, last_name, str(year)) + '@examplemail.lol'
        return nickname

    my_m_names = np.random.choice(m_names, 1000)
    my_ml_names = np.random.choice(l_names, 1000)

    my_f_names = np.random.choice(f_names, 1000)
    my_fl_names = np.random.choice(l_names, 1000)

    male_df = pd.DataFrame(data = {'First_Name' : my_m_names, 
                                   'Last_Name' : my_ml_names, 
                                   'Sex' : 'M'}).drop_duplicates()
    
    female_df = pd.DataFrame(data = {'First_Name' : my_f_names, 
                                     'Last_Name' : my_fl_names, 
                                     'Sex' : 'F'}).drop_duplicates()
    clients = pd.concat([male_df, female_df])

    clients['Birth_year'] = np.random.randint(1941, 2015, len(clients))
    clients['Phone_number'] = np.random.randint(3*10e+9, 10e+10, len(clients))
    clients['email'] = clients.apply(lambda x: email_generator(x['First_Name'], 
                                                               x['Last_Name'],
                                                               x['Birth_year']), axis = 1)
    clients = clients.sample(frac = 1).reset_index(drop = True)
    clients['ID'] = np.arange(1, len(clients)+1)
    clients = clients[['ID', 'First_Name', 'Last_Name', 'Sex', 'Birth_year', 'Phone_number', 'email']]
    return clients

def address_data_generation(clients):
    def give_addr_2_all_customers(clients):
        countries = np.random.choice(list(cities.keys()), len(clients))
        cur_cities, cur_streets, cur_zipcodes = list(), list(), list()

        for country in countries:
            cur_cities.append(np.random.choice(cities[country]))
            cur_streets.append(np.random.choice(streets[country]))

        for city in cur_cities:
            cur_zipcodes.append(zipcodes[city])

        df = pd.DataFrame(data = {'Country' : countries,
                                  'City' : cur_cities,
                                  'Street' : cur_streets,
                                  'PostCode' : cur_zipcodes,
                                  'CUSTMER_ID' : clients['ID']})
        return df
    df = give_addr_2_all_customers(clients)
    some_dublicates_df = give_addr_2_all_customers(clients.sample(frac=0.3))
    df = pd.concat([df, some_dublicates_df]).reset_index(drop=True)
    df['Building'] = np.random.randint(1, 200, len(df))
    df['Appartment_tmp'] = np.random.randint(1, 1000, len(df))
    df['Appartment_presence'] = np.random.choice([1,None], p=[0.8, 0.2], size=len(df))
    df['Appartment'] = df['Appartment_tmp'] * df['Appartment_presence']
    df = df.sample(frac=1).reset_index(drop=True)
    df['ID'] = np.arange(1, len(df)+1)
    df = df[['ID', 'Country', 'City', 'Street', 'Building', 'Appartment', 'PostCode', 'CUSTMER_ID']]
    return df

In [10]:
clients = clients_data_generation()
addresses = address_data_generation(clients)

In [13]:
clients

,ID,First_Name,Last_Name,Sex,Birth_year,Phone_number,email
0,1,Jack,Abramov,M,1953,46405691587,jackabram53@examplemail.lol
1,2,Charlotte,Oliveira,F,1992,74275776903,choli1992@examplemail.lol
2,3,Cristiano,Zurabov,M,1974,70116384305,crzur@examplemail.lol
3,4,Ttyana,Abramov,F,2014,67389293807,ttyabra2014@examplemail.lol
4,5,David,Santos,M,1952,37357310207,davisanto52@examplemail.lol
...,...,...,...,...,...,...,...
512,513,Jane,Silva,F,1964,73139079877,janesilva64@examplemail.lol
513,514,Babette,Schneider,F,1996,62492050465,babschn96@examplemail.lol
514,515,Diego,Brown,M,1958,33875058664,dibro1958@examplemail.lol
515,516,David,Castro,M,1949,60814505943,dca1949@examplemail.lol
516,517,Charlotte,Pereira,F,1961,38624935668,cpe@examplemail.lol

In [11]:
addresses[addresses['Appartment'].isnull()]

,ID,Country,City,Street,Building,Appartment,PostCode,CUSTMER_ID
2,3,Italy,Rome,Campo de' Fiori,92,NaN,98168,81
3,4,France,Paris,Rue Chanoinesse,189,NaN,57234,101
11,12,Russia,St.Petersburg,1905 Street,44,NaN,635342,451
16,17,USA,Boston,Washington Street,163,NaN,37806,481
20,21,Spain,Barcelona,Calle Huertas,3,NaN,01004,178
...,...,...,...,...,...,...,...,...
626,627,Portugal,Braga,Rua Cor de Rosa,147,NaN,421-361,434
628,629,Spain,Vigo,Calle Mayor,55,NaN,33724,230
631,632,USA,Boston,Washington Street,76,NaN,37806,348
638,639,Russia,St.Petersburg,1905 Street,78,NaN,635342,9
654,655,Russia,St.Petersburg,Svobody Street,105,NaN,635342,442

In [12]:
addresses[addresses['Appartment'].notnull()]

,ID,Country,City,Street,Building,Appartment,PostCode,CUSTMER_ID
0,1,USA,Chicago,Martin Luther King Drive,164,168,56004,55
1,2,Spain,Barcelona,Calle Huertas,28,752,01004,289
4,5,Portugal,Lisbon,Rua Cor de Rosa,8,475,145-616,443
5,6,Portugal,Lisbon,Rua Augusta,143,67,145-616,126
6,7,Germany,Berlin,Chausseestraße,16,336,76234,300
...,...,...,...,...,...,...,...,...
667,668,USA,Boston,Ross Clark Circle,71,760,37806,497
668,669,France,Lyon,Rue Cremieux,165,578,93274,293
669,670,Italy,Rome,Via del Corso,161,288,98168,484
670,671,Russia,Ekaterinburg,Mira Avenue,35,223,239032,124
671,672,Russia,Ekaterinburg,1905 Street,174,91,239032,333